<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dash-edit.css">
    <title>Document</title>
</head>
<body>
    <div id="page-wrapper">
        <div id="nav-wrapper">
            <div class="nav-container">
                <div class="nav-list">
                    <a href="/dashboard" class="nav-href"><li class="nav-list-item">Home</li></a>
                    <div class="dropdown nav-href">
                        <li class="gallery-item nav-list-item nav-active">Gallery</li>
                        <div class="dropdown-content">
                            <a class="dropdown-href nav-active" href="#">Add Flash</a>
                            <a class="dropdown-href" href="/dashboard/edit">Edit Flash</a>
                            <a class="dropdown-href" href="/dashboard/remove">Remove Flash</a>
                        </div>
                    </div>
                    <a href="#" class="nav-href"><li class="nav-list-item">Logs</li></a>
                    <a href="#" class="nav-href"><li class="nav-list-item">Help</li></a>
                    <a href="/logout" class="nav-href"><li class="nav-list-item">Logout</li></a>
                </div>
            </div>
            
        </div>
        <div id="content-wrapper">
            <div class="content-container">
                Click the flash you wanna edit 
            </div>
        </div>


        <div class="control-wrapper">
            <form id="add-item" action="/dashboard/add-item" method="POST" enctype="multipart/form-data">
                <h2 style="text-decoration: underline;">Add Item</h2>
                <div class="input-wrapper">
                    <input class="input" type="number" name="id" placeholder="ID" required>
                    <input class="input" type="text" name="title" placeholder="Title" required>
                    <input class="input" type="text" name="description" placeholder="Description" required>
                    <input class="input" type="number" name="price" placeholder="Price" required>
                    <input class="input" type="text" name="size" placeholder="Size" required>
                    <input class="input" type="text" name="type" placeholder="Type" required>
                </div>
                <div class="images-wrapper">
                    <label for="image">Item Image</label>
                    <input class="input" type="file" name="image" required>
                    <label for="measure">Item Measure Image</label>
                    <input class="input" type="file" name="measure" required>
                </div>
                <div class="button-wrap">
                    <button class="btn form-btn" id="add-btn" type="submit">Add Item</button>
                </div>
            </form>
        </div>

        <div class="preview-wrapper">
            <div class="preview-container">
                <h2 class="preview-header">New Item Preview</h2>
                <div id="add-preview" class="preview">
                    <div class="preview-left">
                        <img class="preview-img" id="preview-img1" src="/assetts/shop/placeholder.jpg">
                    </div>
                    <div class="preview-right">
                        <h2 class="preview-title" id="preview-title1"></h2>
                        <p class="preview-description" id="preview-description1"></p>
                        <hr class="preview-hr">
                        <p class="preview-size" id="preview-size1"></p>
                        <p class="preview-price" id="preview-price1"></p>
                        <hr class="preview-hr">
                        <div class="preview-btn-wrapper">
                            <div class="preview-btn-contain">
                                <button class="preview-btn">Buy!</button>
                                <div class="btn-particles">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

        

    
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>