<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>the neighborhood cat</title>
</head>
<body>
   <div id="page-wrapper">
        <div id="hero-wrapper">
            <div class="hero-img-container">
                <img class="hero-img" src="/assets/index/cat1.png" alt="cat">
            </div>
            <div class="hero-text-container">
                <p class="hero-text">
                    theneighborhoodcat.com
                </p>
            </div>
        </div>
        <div id="content-wrapper">
            <div class="countdown-container">
                <div id="countdown"></div>
            </div>
        </div>
   </div>
   <script src="/js/index.js"></script>
</body>
</html>