<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div id="page-wrapper">
        <div id="hero" class="content-container">
            <div class="hero-img-container">
                <a class="hero-href" href="/"><img class="hero-img" src="/assets/global/cat1.png"></a>
            </div>
      
        </div>
        <div class="content-container">
            <div class="form-container">
                <form class="form" action="/authenticate" method="POST">
                    <input class="form-input" type="text" name="username" placeholder="Username">
                    <input class="form-input" type="password" name="password" placeholder="Password">
                    <button class="form-btn" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>