<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/success.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>ğšœğšğšŒğšŒğšğšœğšœ</title>
</head>

<body>
    <div id="page-wrapper">
        <div id="hero" class="content-container">
            <div class="hero-img-container">
                <a class="hero-href" href="/"><img class="hero-img" src="/assets/global/cat1.png"></a>
            </div>
            <p class="hero-text">Thank You for Booking</p>
        </div>
        <div class="content-container">
            <div class="image-container">
                <% if (flashImage) { %>
                    <img class="flash-img" src="<%= flashImage %>" alt="Flash Image">
                    <% } else { %>
                        <p>No matching flash image found.</p>
                        <% } %>
            </div>
            <div class="text-container">
                <p class="flash-text">
                    i will be in contact with you via dm shortly à«®ê’°à¾€à½²â¸â¸> . <â¸â¸ê’±à¾€à½²áƒ
                </p>
                <p class="flash-text">
                    
                </p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/success.js"></script>
</body>

</html>