<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>the neighborhood cat</title>
</head>

<body>
    <div id="page-wrapper">

        <div id="nav-wrapper">
            <div class="mobile-nav-container">
                <ul class="mobile-nav-list">
                    <li class="nav-list-item">
                        <a class="nav-href" href="/gallery">Flash</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="#">Booking</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="/shop">Shop</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div id="nav-logo" class="nav-container">
                <div class="nav-logo">
                    <a href="/"><img class="logo" src="/assets/global/cat1.png"></a>
                    <h1 class="logo-text">the neighborhood cat</h1>
                </div>
                <div id="mobile-burger-container">
                    <i id="burger" class="ri-menu-line ri-2x"></i>
                </div>
            </div>
            
            <div class="nav-container">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a class="nav-href" href="/gallery">Flash</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="#">Booking</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="/shop">Shop</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="content-wrapper">
            <div id="hero" class="content-container">
                <h1>epic logo or something cool about you here</h1>
                <h2>maybe a sliding image gallery with favorite pieces or whatever u want</h2>
            </div>
            <div class="content-container">
                <h2>look at all this cool free space to add whatever you want</h2>
                <h2>we can change all the colors/fonts/rearrange absolutely anything</h2>
            </div>
            <div class="content-container">
                <div class="typewriter-content">
                    <div class="typewriter-text">
                        <div class="text-container text-1">
                            <span id="text"></span>
                            <span class="cursor">|</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="bouncing-text">
                    Bouncing Text ☆*:.｡.o(≧▽≦)o.｡.:*☆
                </div>
            </div>
            <div class="content-container">
                <div class="btn-contain">
                    <button id="btn" class="btn">Click me :D</button>
                    <div class="btn-particles"></div>
                    </a>
                </div>
            </div>
            <div class="content-container">
                <h3>idk what u want to put here but whatever u have in ur mind we can make happen</h3>
            </div>
        </div>

        <div id="footer-wrapper">

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/menu.js"></script>
</body>

</html>