* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

:root {
    --bg-light: #fff;
    --bg-dark: #cccc;

    --accent-light: #ccc;
    -accent-dark: #ffff;
}

body {
    width: 100%;
    height: auto;
}

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 25px;
}


/*--------*/
/*  Nav   */
/*--------*/

#nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 3vh;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.logo {
    max-width: 100%;
    width: 75%;
    transition: all 0.2s ease;
}

.logo:hover {
    transform: translateY(3px);
}

.logo:active {
    transform: translateY(-10px);
}


.nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid orange;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: x-large;
}


.nav-list-item {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgb(0, 0, 0);
}

.nav-href {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    color: black;
    transition: all 0.2s ease;
}

.nav-active {
    color: #7c56bd;
}

.nav-href:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: start;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: large;
    padding: 5px;
}

.dropdown-href {
    position: relative;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.dropdown-href:hover {
    text-decoration: underline;
}

.dropdown-on {
    display: flex;
    flex-direction: column;
}

#mobile-burger-container {
    display: none;
}

.mobile-nav-container {
    display: none;
}



/*------------*/
/*   Content  */
/*------------*/

#content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.floating-nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.floating-nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10vh;
    border: 2px solid #7c56bd;
    border-radius: 15px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}