* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

:root {
    --bg-light: #fff;
    --bg-dark: #cccc;

    --accent-light: #ccc;
    -accent-dark: #ffff;
}

body {
    width: 100%;
    height: auto;
}

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.popup-active {
    filter: blur(3px);
}



/* Nav Button */
.shape {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: scale(0.8);
}

.cir {
    position: absolute;
    border-radius: 50%;
    z-index: 5;
}

.btn-contain {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-href {
    width: 100%;
}

.btn {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: xx-large;
    text-align: start;
    background: none;
    box-shadow: none;
    border: none;
    color: black;
}

.btn a {
    color: black;
}

.btn-active {
    color: #fff99e;
}

.btn-particles {
    width: 100%;
    position: absolute;
    border-radius: 50%;
    color: #eee;
    font-family: monospace;
    z-index: 5;
    filter: url(#gooeyness);
}

/* End Button */



/*--------*/
/*  Nav   */
/*--------*/

#nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
}

#mobile-burger-container {
    display: none;
}

.mobile-nav-container {
    display: none;
}

#nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 3vh;
}

.nav-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    max-width: 100%;
    width: 75%;
    transition: all 0.2s ease;
}

.logo:hover {
    transform: translateY(3px);
}

.logo:active {
    transform: translateY(-10px);
}

.logo-text {
    font-size: larger;
    width: 100%;
    display: inline-block;
    white-space: nowrap;

}

.logo-text span {
    display: inline-block;
    opacity: 1;
    animation: bounce-wave 2s infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.jumpy {
    display: flex;
    font-size: large;
    text-align: center;
    letter-spacing: -.45em;
    color: black;
    flex-direction: row;
}

.jumpy .letter {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-shadow: .13em .13em 0 rgba(red, .6);
    animation: jump 500ms infinite ease-out alternate;
}

.jumpy .letter:nth-of-type(1) {
    animation-delay: 500ms;
}

.jumpy .letter:nth-of-type(2) {
    animation-delay: 700ms;
}

.jumpy .letter:nth-of-type(3) {
    animation-delay: 900ms;
}

.jumpy .letter:nth-of-type(4) {
    animation-delay: 1100ms;
}

.jumpy .letter:nth-of-type(5) {
    animation-delay: 1300ms;
}

.jumpy .letter:nth-of-type(6) {
    animation-delay: 1500ms;
}

.jumpy .letter:nth-of-type(7) {
    animation-delay: 1700ms;
}

.jumpy .letter:nth-of-type(8) {
    animation-delay: 1900ms;
}

.jumpy .letter:nth-of-type(9) {
    animation-delay: 2100ms;
}

.jumpy .letter:nth-of-type(10) {
    animation-delay: 2300ms;
}

.jumpy .letter:nth-of-type(11) {
    animation-delay: 2500ms;
}

.jumpy .letter:nth-of-type(12) {
    animation-delay: 2700ms;
}

.jumpy .letter:nth-of-type(13) {
    animation-delay: 2900ms;
}

.jumpy .letter:nth-of-type(14) {
    animation-delay: 3100ms;
}

.jumpy .letter:nth-of-type(15) {
    animation-delay: 3300ms;
}

.jumpy .letter:nth-of-type(16) {
    animation-delay: 3500ms;
}

.jumpy .letter:nth-of-type(17) {
    animation-delay: 3700ms;
}

.jumpy .letter:nth-of-type(18) {
    animation-delay: 3900ms;
}

.jumpy .letter:nth-of-type(19) {
    animation-delay: 4100ms;
}

.jumpy .letter:nth-of-type(20) {
    animation-delay: 4300ms;
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: xx-large;
}


.nav-list-item {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: black;
}

.nav-href {
    position: relative;
    display: flex;
    width: 100%;
    color: black;
    transition: all 0.2s ease;
}

.nav-active {
    color: #fcfae1;
}

.nav-href:hover {
    text-decoration: underline;
    transform: translateX(3px);
    cursor: pointer;
}


#content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gallery-container {
    position: relative;
    display: flex;
    width: 70%;
    height: auto;
    max-width: 100%;
}

.event-img {
    position: relative;
    display: flex;
    width: 100%;
    max-width: fit-content;
}





.up-arrow {
    position: relative;
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.387);
    border-radius: 50%;
}



#up-container {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}


.arrow-show {
    display: flex !important;
    animation: arrow-opacity 0.5s ease forwards;
}

@keyframes arrow-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

#up-container:hover {
    opacity: 1 !important;
}



@media (max-width: 768px) {
    #content-wrapper {
        font-size: medium;
    }

    .content-container {
        margin-top: 3vh;
        margin-bottom: 3vh;
        height: auto;
    }
}

@media (max-width: 500px) {
    #page-wrapper {
        flex-direction: column;
    }

    #nav-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    #nav-logo {
        height: 50%;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }

    #mobile-burger-container {
        display: flex;
    }

    .nav-logo {
        flex-direction: column;
    }

    #nav-list-container {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        right: 5vh;
        border: 2px solid hotpink;
        border-radius: 15px;
    }

    .mobile-nav-container {
        display: flex;
        position: relative;
        width: 100%;
        height: 0;
        z-index: -1;
        opacity: 0;
        font-size: xx-large;
        transition: all 0.5s ease;
    }

    .nav-list {
        width: auto;
    }

    .nav-list-item {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .nav-container {
        display: none;
    }

    .row-child {
        flex-wrap: nowrap;
    }


    .logo {
        width: 80%;
    }

    .menu-open {
        height: 40vh;
        z-index: 1;
        opacity: 1;
    }

    .image {
        margin: 5px;
    }

}