* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

:root {
    --bg-light: #fff;
    --bg-dark: #cccc;

    --accent-light: #ccc;
    -accent-dark: #ffff;
}

body {
    width: 100%;
    height: auto;
}

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 25px;
}

/*--------*/
/*  Nav   */
/*--------*/

#nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    height: 100%;
}

#nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 3vh;
}

.nav-logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.logo {
    max-width: 100%;
    width: 75%;
    transition: all 0.2s ease;
}

.logo:hover {
    transform: translateY(3px);
}

.logo:active {
    transform: translateY(-10px);
}

.logo-text {
    font-size: larger;
    width: 100%;
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: xx-large;
}


.nav-list-item {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
}

.nav-href {
    position: relative;
    display: flex;
    width: 100%;
    color: black;
    transition: all 0.2s ease;
}

.btn-active {
    text-decoration: underline;
}

.nav-href:hover {
    text-decoration: underline;
    transform: translateX(3px);
    cursor: pointer;
}

#mobile-burger-container{
    display: none;
}

.mobile-nav-container {
    display: none;
}

#content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

#hero {
    width: 100%;
    height: 20vh;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;

}






@media (max-width: 768px) {
    #content-wrapper {
        font-size: medium;
    }

    .content-container {
        margin-top: 3vh;
        margin-bottom: 3vh;
        height: auto;
    }
}

@media (max-width: 500px) {
    #page-wrapper {
        flex-direction: column;
    }

    #nav-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    #nav-logo {
        height: 50%;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }

    #mobile-burger-container {
        display: flex;
    }

    .nav-logo {
        flex-direction: column;
    }

    #nav-list-container {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        right: 5vh;
        border: 2px solid hotpink;
        border-radius: 15px;
    }

    .mobile-nav-container {
        display: flex;
        position: relative;
        width: 100%;
        height: 0;
        z-index: -1;
        opacity: 0;
        font-size: xx-large;
        transition: all 0.5s ease;
    }

    .nav-list {
        width: auto;
    }

    .nav-list-item {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .nav-container {
        display: none;
    }


    .menu-open {
        height: 35vh;
        z-index: 1;
        opacity: 1;
    }

}