* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

:root {
    --bg-light: #fff;
    --bg-dark: #cccc;

    --accent-light: #ccc;
    -accent-dark: #ffff;
}

body {
    width: 100%;
    height: auto;
}

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: #fff;
}

.popup-active {
    filter: blur(3px);
}



/* TEMPORARY */
#content-wrapper {
    top: 15vh;
}

#temp-lock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lock-img {
    position: relative;
    width: 25%;
}

#countdown {
    position: relative;
    font-size: xx-large;
    text-align: center;
    margin-top: 10vh;
}



/* Nav Button */
.shape {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: scale(0.8);
}

.cir {
    position: absolute;
    border-radius: 50%;
    z-index: 5;
}

.btn-contain {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-href {
    width: 100%;
}

.btn {
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: xx-large;
    text-align: start;
    background: none;
    box-shadow: none;
    border: none;
    color: black;
}

.btn a {
    color: black;
}

.btn-active {
    text-decoration: underline;
}

.btn-particles {
    width: 100%;
    position: absolute;
    border-radius: 50%;
    color: #eee;
    font-family: monospace;
    z-index: 5;
    filter: url(#gooeyness);
}

/* End Button */




/*--------*/
/*  Nav   */
/*--------*/

#nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 100%;
}

#nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 3vh;
}

.mobile-nav-container {
    display: none;
}

#mobile-burger-container {
    display: none;
}

.nav-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    max-width: 100%;
    width: 75%;
    transition: all 0.2s ease;
}

.logo:hover {
    transform: translateY(3px);
}

.logo:active {
    transform: translateY(-10px);
}

.logo-text {
    font-size: larger;
    width: 100%;
    display: inline-block;
    white-space: nowrap;

}

.logo-text span {
    display: inline-block;
    opacity: 1;
    animation: bounce-wave 2s infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.jumpy {
    display: flex;
    font-size: large;
    text-align: center;
    letter-spacing: -.45em;
    color: black;
    flex-direction: row;
}

.jumpy .letter {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-shadow: .13em .13em 0 rgba(red, .6);
    animation: jump 500ms infinite ease-out alternate;
}

.jumpy .letter:nth-of-type(1) {
    animation-delay: 500ms;
}

.jumpy .letter:nth-of-type(2) {
    animation-delay: 700ms;
}

.jumpy .letter:nth-of-type(3) {
    animation-delay: 900ms;
}

.jumpy .letter:nth-of-type(4) {
    animation-delay: 1100ms;
}

.jumpy .letter:nth-of-type(5) {
    animation-delay: 1300ms;
}

.jumpy .letter:nth-of-type(6) {
    animation-delay: 1500ms;
}

.jumpy .letter:nth-of-type(7) {
    animation-delay: 1700ms;
}

.jumpy .letter:nth-of-type(8) {
    animation-delay: 1900ms;
}

.jumpy .letter:nth-of-type(9) {
    animation-delay: 2100ms;
}

.jumpy .letter:nth-of-type(10) {
    animation-delay: 2300ms;
}

.jumpy .letter:nth-of-type(11) {
    animation-delay: 2500ms;
}

.jumpy .letter:nth-of-type(12) {
    animation-delay: 2700ms;
}

.jumpy .letter:nth-of-type(13) {
    animation-delay: 2900ms;
}

.jumpy .letter:nth-of-type(14) {
    animation-delay: 3100ms;
}

.jumpy .letter:nth-of-type(15) {
    animation-delay: 3300ms;
}

.jumpy .letter:nth-of-type(16) {
    animation-delay: 3500ms;
}

.jumpy .letter:nth-of-type(17) {
    animation-delay: 3700ms;
}

.jumpy .letter:nth-of-type(18) {
    animation-delay: 3900ms;
}

.jumpy .letter:nth-of-type(19) {
    animation-delay: 4100ms;
}

.jumpy .letter:nth-of-type(20) {
    animation-delay: 4300ms;
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: xx-large;
}


.nav-list-item {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
}

.nav-href {
    position: relative;
    display: flex;
    width: 100%;
    color: black;
    transition: all 0.2s ease;
}

.nav-active {
    color: #a28fc3;
}

.nav-href:hover {
    text-decoration: underline;
    transform: translateX(3px);
    cursor: pointer;
}





#content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;

    border-radius: 15px;
    transition: all 0.5s ease;
}


/*-------------------
|  Gallery Styling  |
-------------------*/
#content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.gallery-sort-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
}

#gallery-sort {
    margin-left: 1vh;
}

.shop-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    padding: 15px;
}

.shop-row-1 {
    -webkit-animation: childslidein 0.5s ease forwards;
    animation: childslidein 0.5s ease forwards;
    animation-delay: 0.3s;
    left: -200vh;
}

.shop-row-2 {
    -webkit-animation: childslidein2 0.5s ease forwards;
    animation: childslidein2 0.5s ease forwards;
    animation-delay: 0.3s;
    right: -200vh;
}

.row-1-out {
    -webkit-animation: row-1-out 0.5s ease forwards;
    animation: row-1-out 0.5s ease forwards;
    animation-delay: 0.3s;
}

.row-2-out {
    -webkit-animation: row-2-out 0.5s ease forwards;
    animation: row-2-out 0.5s ease forwards;
    animation-delay: 0.3s;
}


.row-child {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    padding: 15px;
    transition: all 0.5s ease;
}

.row-child:hover {
    transform: scale(1.10);
}

.image-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.shop-img {
    position: relative;
    width: 100%;
    border-radius: 15px;
}

.shop-alt-img {
    position: relative;
    display: none;
    width: 100%;
    border-radius: 15px;
}

.claimed-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.686);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    z-index: 9999;
}





/*----------------
|  Popup Styling |
----------------*/
#popup-wrapper {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.magnifying-glass {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    display: none;
    overflow: hidden;
    pointer-events: none;
}

.magnified-image {
    width: 200%;
    /* Increase the width to make the magnified image larger */
    height: 200%;
    /* Increase the height to make the magnified image larger */
    background-size: 200% 200%;
    /* Adjust background size to match the dimensions */
    /* Additional styles for the magnified image */
}

.popup {
    width: 80vh;
    height: 80vh;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
    border: 5px solid #aeaeae;
}

.popup-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.popup-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.pop-img-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
}

#popup-img,
#popup-alt-img {
    flex: 1;
    border-radius: 15px;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

#popup-alt-img {
    margin-top: 10px;
    /* Add a margin or padding between the images */
}


.popup-close {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popup-active {
    filter: blur(2px);
}

#popup-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    text-decoration: underline;
    color: var(--text-h);
}

#popup-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 20px;
    color: var(--text-p);
}

#popup-size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: var(--text-p);
}

#popup-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: var(--text-p);
}

.popup-btn-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.popup-hr {
    display: flex;
    width: 80%;
    margin: 10px;
    color: var(--text-p);
}

.pop-btn-contain {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-btn {
    position: relative;
    border-radius: 10px;
    background: #333;
    text-align: center;
    z-index: 10;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 5px 2px #BFCEEF;
    font-size: xx-large;
}

.pop-btn:hover,
.pop-btn:focus {
    outline: none !important;
    color: white;
    border: 4px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 2s infinite alternate;
    animation: rainbow 2s infinite alternate;
}

.pop-btn:active {
    border: 4px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 2s infinite alternate;
    -webkit-animation: fontsize 0.1s ease;
    animation: rainbow 2s infinite alternate;
    animation: fontsize 0.1s ease;
}



@media (max-width: 768px) {
    #content-wrapper {
        font-size: medium;
        padding: 15px;
    }

    .content-container {
        margin-top: 3vh;
        margin-bottom: 3vh;
        height: auto;
    }
}

@media (max-width: 500px) {
    #page-wrapper {
        flex-direction: column;
    }

    #nav-wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    #nav-logo {
        height: 50%;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }

    #mobile-burger-container {
        display: flex;
    }

    .nav-logo {
        flex-direction: column;
    }

    #nav-list-container {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        right: 5vh;
        border: 2px solid #7c56bd;
        border-radius: 15px;
    }

    .mobile-nav-container {
        display: flex;
        position: relative;
        width: 100%;
        height: 0;
        z-index: -1;
        opacity: 0;
        font-size: xx-large;
        transition: all 0.5s ease;
    }

    .nav-list {
        width: auto;
    }

    .nav-list-item {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .nav-container {
        display: none;
    }

    .logo {
        width: 80%;
    }

    .menu-open {
        height: 55vh;
        z-index: 1;
        opacity: 1;
    }

}